<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<inherits name="com.google.gwt.uibinder.UiBinder" />

	<welcome-file-list>
		<welcome-file>GetFit.html</welcome-file>
	</welcome-file-list>
	
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/db-context.xml /WEB-INF/dao-context.xml /WEB-INF/services-context.xml</param-value>
	</context-param>
	

	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
		<!-- Servlets -->
	<servlet>
		<servlet-name>UsersServlet</servlet-name>
			<servlet-class>
				com.cs410.getfit.server.users.UsersServlet
			</servlet-class>
	</servlet>

	
	<!-- Servlet mappings -->
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/users/*</url-pattern>
	</servlet-mapping>

</web-app>
